@{
    var controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <span class="brand-text font-weight-light">HR System</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <!-- HR Management Menu -->

                <li
                    class="nav-item has-treeview @(controller.StartsWith("Employee") || controller == "Departments" ? "menu-open" : "")">
                    <a href="#"
                        class="nav-link @(controller.StartsWith("Employee") || controller == "Departments" ? "active" : "")">

                        <i class="nav-icon fas fa-user-cog"></i>
                        <p>
                            HR Mgmt.
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Employees")"
                                class="nav-link @(controller == "Employees" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Emp Mgmt.</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Departments")"
                                class="nav-link @(controller == "Departments" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Department Mgmt.</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "EmployeeAssignments")"
                                class="nav-link @(controller == "EmployeeAssignments" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Emp Assign Mgmt.</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "EmployeeGrades")"
                                class="nav-link @(controller == "EmployeeGrades" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Emp Grade Mgmt.</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</aside>
